HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### gradle ###
settings.gradle
build.gradle
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat


### maven ###
maven-wrapper.jar
maven-wrapper.properties
.mvn
mvnw
mvnw.cmd
pom.xml

